@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "katex/dist/katex.min.css";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://use.typekit.net/rzj8eff.css");

img {
  object-fit: scale-down;
  width: 100%;
  height: auto;
}

h1 {
  @apply font-[600];
}

.katex {
  font-size: 1.15rem;
}

ul {
  @apply list-disc pl-5;
}

h2 {
  @apply font-[600];
}

.maintitle {
  @apply font-[600];
}

.secondarytitle {
  @apply font-[300];
}

.color_palette {
  @apply text-[#1d1d1f] bg-[#FeFeFe];
}

.color_palette_2 {
  @apply text-[#FeFeFe] bg-[#1d1d1f];
}

.seriftitle {
  @apply font-serif text-base md:text-lg;
}

.researchcontainter {
  @apply text-base border-[#e2e2e2] bg-[#ffffff] shadow-md border-[1px] w-full md:w-3/4 flex flex-col items-center rounded-md pb-[3rem] lg:w-2/4;
}

.navbutton {
  @apply border color_palette_2 border-[#1d1d1f] text-sm px-[1rem] md:text-lg py-[.15rem] md:py-1 md:px-8 font-[400] hover:text-[#1d1d1f] hover:bg-[#FeFeFe] focus:outline-none;
}

.maincss {
  @apply font-plex text-sm md:text-lg font-[300] color_palette px-[2rem] lg:px-[8rem] py-10 space-y-[2rem];
}

.hero-title {
  @apply font-serif text-5xl md:text-7xl font-[300] text-[#c8e6d0] mb-6;
}

.section-divider {
  @apply border-t border-[#4a7c8a] mb-8;
}

/* .seriftitle {
  @apply font-serif text-lg text-[#D292FF];
}

.researchcontainter {
  @apply text-base  border-[#D292FF] border w-3/4 flex flex-col items-center;
}

.navbutton {
  @apply border border-[#D292FF] text-[#D292FF] text-sm px-[1rem] md:text-lg py-[.15rem] md:py-1 md:px-8 font-[400] hover:text-[#00002E] hover:bg-[#D292FF] focus:outline-none;
}

.maincss {
  @apply font-plex text-sm md:text-lg font-[300] bg-[#00002E] text-[#ffff] px-[2rem] lg:px-[10rem] py-10 space-y-[2rem];
} */

/* research-container {
  @apply bg-[#2d2d36] py-4 grid gap-3 grid-cols-1 md:grid-cols-2 rounded-2xl;
}


research-sub-cont {
  @apply m-8;
} */
/* 
body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
